<?php
declare(strict_types=1);

#if (${NAMESPACE})

namespace ${NAMESPACE};

#end

use ${NAMESPACE}Interface;

class Factory implements FactoryInterface
{
    use \\${NAMESPACE}\AwareTrait;

    public function create(): \\${NAMESPACE}Interface
    {
        // @TODO - assemble target class.

        return ${DS}${targetClassVariable};
    }
}